@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

* {
    font-family: 'Caveat', cursive;
}

input {
    font-size: 16px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Caveat', cursive;
    font-size: 18px;
    color: #fff;
    background: url(/static/bg.jpg);
}

.flex {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: flex-end;
}

.name {
    margin-top: 20px;
}

label {
    display: block;
}

.message {
    margin-top: 100px;
    max-width: 50vw;
    font-size: 42px;
    text-align: center;
}