
<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Gadalka</title>
        {% else %}
        <title>Welcome to gadalka</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
        <script src = "static/js/jquery-3.7.0.min.js" ></script>
        <script type="text/javascript">
            $(document).ready( function() {
                $('#prediction').delay(30*100).fadeOut();
            });
        </script>
    </head>
    <body>
        <div>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="name">
                    <label>{{ form.name.label }}</label>
                    {{ form.name(size=32) }}
                </div>
                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                {% endif %}
                <div class="flex">
                    <div>
                        <label>{{ form.dob.label }}</label>
                        {{ form.dob }}
                    </div>
                    {{ form.submit() }}
                </div>

                {% if form.dob.errors %}
                    {% for error in form.dob.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                {% endif %}
            </form>
        </div>

        <div class="message" id="prediction">
            {% set messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>